<div class="card text-center">
      
  <div class="card-body d-flex flex-column align-items-center">
    <h1 class="card-title py-5">WELCOME</h1>
    <h3 class="card-subtitle text-secondary pb-0">JOIN US TO START YOUR LISTS</h3>
    <div class="d-flex pb-5"></div>
 </div>

</div>